.about {
  min-height: 100vh;
  width: 100%;
  padding-left: $header-height;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;


  p {
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-bp) {
    padding-left: 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: row;

    @media (max-width: $mobile-bp) {
      flex-direction: column;
      padding: 0 10% 25px;
      padding-top: $mobile-padding-top;
    }
  }

  &__main-text {
    text-align: left;
    font-family: MaisonMono-Regular;
    font-size: 13px;
    line-height: 24px;
    width: 400px;

    a {
      font-family: MaisonMono-Regular;
      text-decoration: none;
      padding-bottom: 2px;
      border-bottom: 1px solid black;

      &:hover {
        border-bottom: 2px solid black;
      }
      &:active {
        border-bottom: 1px solid black;
      }
    }

    p {
      padding-bottom: 5px;
    }

    @media (max-width: $mobile-bp) {
      width: 100%;
    }
  }

  &__links {
    display: inline-block;
    padding-left: 50px;
    font-family: MaisonNeue-book;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    gap: 11px;

    @media (max-width: $mobile-bp) {
      // text-align: left;

      // display: block;
      // flex-direction: row;
      padding-left: 0;
      padding-top: 30px;
    }
    a {
      &:hover {
        color: $link-green;
      }

      &:hover, &:active {
        border-bottom: none;
      }
    }
  }

  &__link-element {
    display: flex;
    align-items: center;
    padding: 0 7px;
    
    @media (max-width: $mobile-bp) {
      display: block;
      width: 100%;
      padding: 0 0 8px;
    }

    img {
      width: 25px;
      padding-right: 15px;
    }
  }

  &__slash {
    @media (max-width: $mobile-bp) {
      display: none;
    }
  }
}
