.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.header {
  font-family: MaisonNeue-light;
  font-size: 40px;
  width: 100vh;
  height: $header-height;
  position: fixed;
  left: -100vh;
  top: 0;
  z-index: 9998;
  background-color: white;

  transform-origin: top right;
  transform: rotate(-90deg) !important;

  @media (max-height: $height-bp1) {
    font-size: 30px;
    height: $header-height2;
  }

  @media (max-height: $height-bp2) {
    font-size: 20px;
    height: $header-height3;
  }

  @media (max-width: $mobile-bp) {
    transform: rotate(0deg) !important;
    width: 100vw;
    left: 0;
    // transition: top 0.4s ease-in-out;
    font-size: 40px;
    background-color: transparent;
    // display: flex;
    // padding-left: 20px;
    // padding-top: 10px;
    // background-color: white;
  }

  &__mobile-icon {
    display: none;
    @media (max-width: $mobile-bp) {
      display: block;
      width: 40px;
      left: 20px;
      position: absolute;
      cursor: pointer;
    }
  }

  &__up {
    @media (max-width: $mobile-bp) {
      top: -240px;
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    // background-color: white;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: nowrap;
    justify-content: space-around;

    @media (max-width: $mobile-bp) {
      // display: block;
      // height: auto;
      // text-align: center;
      // margin-top: 40px;
      // width: 300px;
      // padding: 10px 0;
      justify-content: flex-start;
      display: none;
      // display: flex;
      flex-direction: column;
      row-gap: 10px;
      padding-left: 20px;
      padding-top: 80px;
      height: 100vh;
      background-color: white;
      z-index: 99;
      overflow-y: hidden;
    }
  }

  a {
    &:hover {
      border-bottom: 4px black solid;
      @media (max-width: $mobile-bp) {
        border-bottom: none;
        font-family: MaisonNeue-book;
      }
    }

    &:active {
      border-bottom: 6px black solid;
      @media (max-width: $mobile-bp) {
        border-bottom: none;
        font-family: MaisonNeue-book;
        font-weight: bold;
      }
    }
  }

  &__obj {
    @media (max-width: $mobile-bp) {
      // display: none;
      width: 200px;
    }
  }

  &__active {
    a {
      border-bottom: 4px black solid;
      @media (max-width: $mobile-bp) {
        border-bottom: none;
        font-family: MaisonNeue-book;
        font-weight: bold;
      }
    }
    @media (max-width: $mobile-bp) {
      // display: block;
    }
  }

}
