.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__image {
    min-height: 100%;
    min-width: 1024px;
    top: 0;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    position: fixed;
    bottom: -100px;

    @media (max-width: $mobile-bp) {
      margin-left: -150px;
    }
  }
}

#map-copy {
  visibility: hidden;transform: scaleX(-1);
  clip: rect(0px, 357px, 658px, 337px);

  @media (max-width: $mobile-bp) {
    display: none;
  }
}
