$header-height: 65px;
$header-height2: 50px;
$header-height3: 40px;
$link-green: #37C65D;
$link-green-active: #2A9647;
$height-bp1: 600px;
$height-bp2: 450px;
$special-img-bp: 863px;
$mobile-bp: 767px; // Linked with variables from variables.js
$mobile-padding-top: 240px;
$large-bp: 2000px;

// work-single vars
$mobile-padding-bottom: 25px;
