---
# Only the main Sass file needs front matter (the dashes are enough)
---

@font-face {
  font-family: "MaisonNeue-book";
  src: url("/assets/fonts/MaisonNeue/MaisonNeue-Book.ttf") format("ttf");
}

@font-face {
  font-family: "MaisonNeue-light";
  src: url("/assets/fonts/MaisonNeue/MaisonNeue-Light.ttf") format("ttf");
}

@font-face {
  font-family: "MaisonMono-Regular";
  src: url("/assets/fonts/MaisonMono/MaisonMono-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "MaisonMono-light";
  src: url("/assets/fonts/MaisonMono/MaisonMono-Light.ttf") format("ttf");
}

@import "minima";
@import "typography";
@import "variables";
@import "header";
@import "home";
@import "about";
@import "work";
@import "work-single";
@import "rectangle";
