---
layout: default
---
<div class="about">
    <div class="about__container">
        <div class="about__main-text">
            <p>Hello, my name is Matt Visco. I am an interaction designer from Berkeley, Ca.</p>

            <p>I have a large collection of rocks from different backpacking trips I’ve been on. Many of those rocks are from Death Valley.</p>

            <p>When I’m not collecting rocks, I enjoy making things. I make physical things and digital things. I am happiest when I’ve made both. I think technology lives too often in the screen and I enjoy bringing it out.</p>

            <p>John Muir is one of my heroes, he dedicated his life to exploring the outdoors and showing people its beauty. I think that is an important pursuit.</p>
            <p>In 2017, I attended <a href="http://ciid.dk"> Copenhagen Institute of Interaction Design.</a>  I spent the year making things with different people for different people (sometimes for no one really). I enjoy making weird things, things that make people laugh. I also enjoy making things that help people.</p>
        </div>

        <div class="about__links">
            <span class="about__link-element"><a href="/assets/pdf/resume-2018.pdf">resume</a></span>
            <span class="about__slash">/</span>
            <span class="about__link-element"><a href="mailto:mattvisco@mac.com?Subject=Hi">mattvisco@mac.com</a></span>
            <span class="about__slash">/</span>
            <span class="about__link-element"><a href="https://www.instagram.com/mattvisco/" target="_blank">@mattvisco</a></span>
        </div>
    </div>
</div>
