---
layout: default
---
<div class="about">
    <div class="about__container">
        <div class="about__main-text">
            <p>Hello, my name is Matt Visco. I am an interaction designer from Berkeley, Ca.</p>

            <p>My flavor of interaction design is focused on prototyping, in both physical and digital capacities. I like to explore ways to incorporate playfulness into our everyday objects / tools and am particularly interested in designs that extend beyond a screen.</p>
            
            <p>I believe technology should exist to help humans be better versions of themselves rather than simply replace the tasks they do or the worlds they live in.</p>

            <p>I have a degree in computer science from UC Berkeley and a masters in interaction design from <a href="http://ciid.dk/" target="_blank">CIID</a>. I recently co-founded and ran a company called <a href="https://www.lumen.world/" target="_blank">Lumen World</a>. Before that I worked at <a href="http://www.ideo.com/" target="_blank">IDEO</a>. </p>

            <p>I am also the proud owner of a large collection of rocks. Many of those rocks are from Death Valley. </p>
        </div>

        <div class="about__links">
            <span class="about__link-element"><img src="/assets/img/about/resume-logo.png"><a href="/assets/pdf/MattVisco_Resume_2022.pdf" target="_blank">resume</a></span>
            <span class="about__link-element"><img src="/assets/img/about/email.png"><a href="mailto:mattvisco@mac.com?Subject=Hi">mattvisco@mac.com</a></span>
            <span class="about__link-element"><img src="/assets/img/about/insta-logo.png"><a href="https://www.instagram.com/mattvisco/" target="_blank">@mattvisco</a></span>
        </div>
    </div>
</div>
